## --- AL gitignore ---
## Ignores generated binary files and 
## temporary files from Visual Studio and Visual Studio code

# Binary files
.alpackages/
*.app
rad.json

# Temp files
.vs/
.vscode/

# Others
~$*
*~
Translations/TFB Core Extension.g.xlf
